.aliments {
  width: 100%;
  height: 100%;
  position: relative;
}
.aliments > h1,
.aliments .ajout-aliment h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 18px;
  margin-top: 10px;
}
.aliments .ajout-aliment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.aliments .table-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.aliments .table-wrapper > div {
  width: calc(100% - 20px);
  max-height: 550px;
  overflow-y: auto;
}
.aliments #table-aliments th:nth-child(3),
.aliments #table-aliments td:nth-child(3) {
  width: 200px;
}
.aliments #table-aliments th:nth-child(2),
.aliments #table-aliments td:nth-child(2) {
  max-width: 200px;
  word-wrap: break-word;
}
.aliments .table-wrapper > button {
  margin-top: 20px;
  cursor: pointer;
  background-color: var(--side-color);
  color: var(--main-color);
  border: none;
  font-size: 20px;
  padding: 5px 10px;
}
#formAddAliment {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
  /* border: 1px solid red; */
}
#formAddAliment .form-group-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}
#formAddAliment .form-group-row input {
  width: 200px;
}
#formAddAliment > .form-group:nth-last-child(2) input {
  width: 200px;
}
.verification-suppression-aliment {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.verification-suppression-aliment > div:last-of-type {
  margin-top: 10px;
}
.verification-suppression-aliment
  > div:last-of-type
  .annuler-suppression-aliment {
  cursor: pointer;
  padding: 5px 10px;
  background-color: var(--side-color);
  color: var(--main-color);
  border: 1px solid var(--side-color);
}
.verification-suppression-aliment
  > div:last-of-type
  .valider-suppression-aliment {
  padding: 5px 10px;
  cursor: pointer;
  background-color: red;
  color: white;
  border: 1px solid red;
}
.verification-suppression-aliment {
  display: none;
}
.aliments .isLiquide-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.aliments .isLiquide-form div,
.aliments .isLiquide-form input {
  width: fit-content;
  vertical-align: middle;
}
.aliments .isLiquide-form input {
  margin-left: 10px;
  accent-color: var(--side-color);
}
