.journal {
  width: 100%;
  height: 100%;
  position: relative;
}
.journal h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 18px;
  margin-top: 10px;
}
.journal .table-journal-wrapper {
  width: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.journal .table-journal-wrapper > div {
  width: 100%;
}
.journal .ajout-journal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}
.journal .ajout-journal .form-group:first-child {
  position: relative;
}
.journal .ajout-journal #list-aliment {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: var(--side-color);
  max-height: 200px;
  overflow-y: auto;
  top: 100%;
  word-wrap: break-word;
}
.journal .ajout-journal #list-aliment div {
  color: var(--main-color);
  padding: 5px 10px;
  border: 1px solid var(--card-color);
  cursor: pointer;
}
.journal .ajout-journal #list-aliment div:hover {
  background-color: var(--main-color);
  color: var(--side-color);
}
.journal .table-journal-wrapper > button {
  padding: 5px 10px;
  margin-top: 20px;
  cursor: pointer;
  background-color: var(--side-color);
  color: var(--main-color);
  border: none;
  font-size: 20px;
}
.journal .filtres {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 20px 20px;
}
.journal .filtres .filtres-date-wrapper {
  display: flex;
}
.journal .filtres .filtres-date-wrapper div {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid var(--side-color);
  color: var(--side-color);
  border-radius: 8px;
  cursor: pointer;
}
.journal .filtres .filtres-date-wrapper div:hover,
.journal .filtres .filtres-date-wrapper div.active-filtre {
  color: var(--main-color);
  background-color: var(--side-color);
}
.effacer-filtre {
  padding: 5px 10px;
  color: var(--card-color);
  border: 1px solid var(--side-color);
  background-color: var(--side-color);
  cursor: pointer;
}
