.profil {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.profil > h1 {
  margin-bottom: 20px;
}
.profil .password .icon {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 33.5px;
  font-size: 15px;
}
.profil .radio {
  flex-direction: row;
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profil .radio input {
  width: fit-content;
  accent-color: var(--side-color);
}
.profil .row {
  display: flex;
  margin-bottom: 10px;
}
.profil .row > div {
  margin: 0 10px;
}
.profil .row > div:first-of-type {
  margin-left: 0;
}
.profil .row > div:last-of-type {
  margin-right: 0;
}
.profil .poids-wrapper input,
.profil .taille-wrapper input,
.profil .age-wrapper input {
  width: 60px;
}
.profil .pratique-sportive-wrapper > div {
  width: 150px;
}
.profil .parametre > div {
  margin-bottom: 10px;
}
.profil .parametre .label {
  margin-bottom: 5px;
  font-size: 17px;
}
.profil .parametre .pratique-sportive-wrapper > div {
  width: fit-content;
}
.profil .parametre .modifier-wrapper {
  text-align: center;
}
.profil .parametre .modifier {
  width: 325px;
  background-color: var(--side-color);
  color: var(--main-color);
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
}
.inscription-wrapper,
.parametre-wrapper {
  display: none;
}
.creer-compte {
  cursor: pointer;
}
.creer-compte:hover {
  text-decoration: underline;
}
.retour {
  position: absolute;
  top: 30px;
  left: 50px;
  padding: 5px 10px;
  color: var(--card-color);
  border: 1px solid var(--side-color);
  background-color: var(--side-color);
}
.retour:hover {
  color: var(--side-color);
  background-color: var(--card-color);
  cursor: pointer;
}
.profil .error-message {
  color: red;
}
